      <div id="inst">R - toggle rotation; <br/> drag center mouse button - zoom<br/> drag left mouse button - manual rotate</div>
      <div id="progouter"></div><div id="proginner"></div>
      <input type="file" id="mcafile" name="thefile" onchange="fileselected()"/>
      <div id="pointer-lock-element"></div>
      <script src="scripts/jquery.min.js"></script>
      <script src="scripts/modules.js"></script>
      <script src="scripts/binaryhttp.js"></script>
      <script src="scripts/jdataview.js"></script>
      <script src="scripts/inflate.min.js"></script>
      <script src="scripts/nbt.js"></script>
      <script src="scripts/chunk.js"></script>
      <script src="scripts/region.js"></script>
      <script src="scripts/three.min.js"></script>
      <script src="scripts/Stats.js"></script>
      <script src="scripts/blockinfo.js"></script>
      <script src="scripts/chunkview.js"></script>
      <script src="scripts/renderer.js"></script>
      <script src="scripts/tests.js"></script>
      <script src="scripts/main.js"></script>

