<h2>VPS Hosting for Minecraft Servers</h2>

<p>
  If you want complete control over your own Minecraft server you can rent a VPS.  Linode and Rackspace are two good values that I am aware of.  I don't feel that Amazon EC2 is a good value.
</p>

<h3><a href="http://ezinearticles.com/?Your-Own-Minecraft-Server-on-a-Linode-VPS&id=7123076">Your Own Minecraft Server on a Linode VPS</a></h3>

<h3><a href="http://mejoe.com/blog/?p=312">Setup a Minecraft Multiplayer Server on the Rackspace Cloud with Ubuntu</a></h3>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
